.profile__profession {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 8px;
  }
}
