.edit-form__button-save {
  width: 100%;
  background-color: #000;
  border: none;
  height: 50px;
  color: #fff;
}

@media screen and (max-width: 520px) {
  .edit-form__button-save {
    height: 46px;
  }
}
