.card__description {
    max-width: 246px;
    max-height: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 27px 21px;
}
