.root {
  max-width: 1280px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: red;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
}
