.conteiner {
  box-sizing: border-box;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
}
button {
  padding: 0;
}
h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 536px) {
  .conteiner {
    max-width: 282px;
  }
}

@media screen and (max-width: 880px) {
  .conteiner {
    max-width: 90%;
  }
}
