.profile__info-block {
  width: 100%;
  max-width: calc(100%  - 150px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin-top: 39px;

}

@media screen and (max-width: 589px) {
  .profile__info-block {
    margin-top: 44px;
    max-width: 100%;
    justify-content: center;
  }
}

