.profile__info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 39px;
}

@media screen and (max-width: 320px) {
  .profile__info-block {
    margin-top: 44px;
  }
}
